.product-item-modal .modal-content{
  background-color: #ECEFF1 !important;
  opacity: 1
}

.img-container{
  margin-right: auto;
}

.img-modal{
  height: 500px;
  width: 500px;
  padding: 20px;
}

.product-detail{
  padding: 20px;
  margin-right: auto;
}

@media (max-width: 1092px){
  .img-modal{
    text-align: center;
  }
  .product-detail{
    margin-left: auto ;
  }
  .img-container{
    margin-left: auto;
  }
}


@media (max-width: 560px){
  .img-modal{
    width: 100%;
    height: 100%;
  }
}

