.cart-modal .modal-content{
  background-color: #FAFAFA !important;
  opacity: 0.95;
}

.no-stock-message{
  margin: 5px;
  color:#FF1744;
}

.hideNoStockMessge{
  display: none;
}

.add-coupon-btn{
  background-color: #26C6DA !important;
  color:white !important;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.add-coupon-btn:hover{
  box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.12);
}

.add-coupon-btn:active{
  background-color: #1b8a99 !important;
}

.add-coupon-btn::selection {
  color: none;
  background: none;
}

.hideCouponMessage{
  display: none;
}